PCJack.ConnectionService/Service References/SystemControlReference/SystemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/system/meta?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/system/meta?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemService_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="ISystemService_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService_ChangeVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeVolume" />
  </wsdl:message>
  <wsdl:message name="ISystemService_ChangeVolume_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeVolumeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService_GetVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolume" />
  </wsdl:message>
  <wsdl:message name="ISystemService_GetVolume_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService_Mute_InputMessage">
    <wsdl:part name="parameters" element="tns:Mute" />
  </wsdl:message>
  <wsdl:message name="ISystemService_Mute_OutputMessage">
    <wsdl:part name="parameters" element="tns:MuteResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService_ShutDown_InputMessage">
    <wsdl:part name="parameters" element="tns:ShutDown" />
  </wsdl:message>
  <wsdl:message name="ISystemService_ShutDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShutDownResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemService">
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/CheckConnection" message="tns:ISystemService_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/CheckConnectionResponse" message="tns:ISystemService_CheckConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/ChangeVolume" message="tns:ISystemService_ChangeVolume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/ChangeVolumeResponse" message="tns:ISystemService_ChangeVolume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/GetVolume" message="tns:ISystemService_GetVolume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/GetVolumeResponse" message="tns:ISystemService_GetVolume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mute">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/Mute" message="tns:ISystemService_Mute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/MuteResponse" message="tns:ISystemService_Mute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShutDown">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/ShutDown" message="tns:ISystemService_ShutDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/ShutDownResponse" message="tns:ISystemService_ShutDown_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemService" type="tns:ISystemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/ISystemService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeVolume">
      <soap:operation soapAction="http://tempuri.org/ISystemService/ChangeVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVolume">
      <soap:operation soapAction="http://tempuri.org/ISystemService/GetVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mute">
      <soap:operation soapAction="http://tempuri.org/ISystemService/Mute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShutDown">
      <soap:operation soapAction="http://tempuri.org/ISystemService/ShutDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISystemService1" type="tns:ISystemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/ISystemService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeVolume">
      <soap:operation soapAction="http://tempuri.org/ISystemService/ChangeVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVolume">
      <soap:operation soapAction="http://tempuri.org/ISystemService/GetVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mute">
      <soap:operation soapAction="http://tempuri.org/ISystemService/Mute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShutDown">
      <soap:operation soapAction="http://tempuri.org/ISystemService/ShutDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemService">
    <wsdl:port name="BasicHttpBinding_ISystemService" binding="tns:BasicHttpBinding_ISystemService">
      <soap:address location="http://localhost:8082/system/basic" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISystemService1" binding="tns:BasicHttpBinding_ISystemService1">
      <soap:address location="http://localhost:8082/192.168.0.27:8082/system/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>